/* CSS Variables */
:root {
    --base: #00a7e1;
    --spacing: 10px;
    --blur: 10px;
}

/* Body Styling */
body {
    text-align: center;
    background: #000;
    color: white;
    font-family: 'helvetica neue', sans-serif;
    font-weight: 100;
    font-size: 50px;
}

/* Image Styling */
img {
    height: 50%;
    width: 50%;
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
}

input {
    width: 100px;
}

/* Heading Color */
.hl {
    color: var(--base);
}

.controls {
    margin-bottom: 50px;
}